h1{font-family:Arial;font-style:times;color: #FF0000;text-align:center;background-color: #00FF00}
h3{font-family:times;font-style:italic;color: #00ff00}
P {text-transform: capitalize;background: Capture1.PNG fixed repeat}
